build/
dist/
*.o
*.ppm
/prjtool
/cdtool
/mektool
/bwdtool
/mechview
/mechview3d
/cdrip
/test_port
/shelltool
/xmiplay
/glshot
/glview
/mw2
/mw2shell
/missionsim
/sweep_objectives
/sweep_objectives_asan
/sweep_ai
/test_cockpitcfg
/test_inputmap
__pycache__/
.DS_Store
